/* Map */

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 500px;
}

.pin-tooltip {
    width: 120px;
    display: flex;
    transform: translateY(-10px);
    flex-wrap: wrap;
}

.pin-container {
    width: 120px;
    display: flex;
    flex-direction: column;
}

.pin-image {
    margin: auto;
    width: 47px;
    height: 64px;
    bottom: 0;
}

.no-background {
    background-color: rgba(255, 255, 255, 0);
}