/* Map */

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 500px;
}

.pin-tooltip {
    width: 120px;
    display: flex;
    transform: translateY(-10px);
    flex-wrap: wrap;
}

.pin-container {
    width: 120px;
    display: flex;
    flex-direction: column;
}

.pin-image {
    margin: auto;
    bottom: 0;
}

/*  47 * 64 */
.pin-image-size {
    width: 28px;
    height: 40px;
}

.no-background {
    background-color: rgba(255, 255, 255, 0);
}

.map-menu {
    height: 100%;
    bottom: 0;
    position: absolute;
    z-index: 1000;
    background-color: rgba(120, 201, 120, 0.74);
}

.map-menu > button {
    max-height: 50px;
}
.btn-map {
    font-weight: bold;
    background-color: rgba(120, 201, 119, 0)
}

.btn-map:hover {
    background: #3EB152!important;
}

.btn-active {
    font-weight: bolder !important;
    color: white !important;
}

.recy-popover-title {
    margin-bottom: 2px !important;
}