<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>Entrenamiento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/entrenamiento.css}">
</head>
<body>
<header th:replace="fragments/header"></header>
<style>
    video
{
    width: 100%;
    height: 250px;
    background: black;
}
</style>
<div class="text-center" id="contenedorVideo"></div>
<br>
<div style="height: auto;margin: 0 auto;">

    <div class="row col-md-12 justify-content-md-center">
        <div class="col-md-8 text-center mt-2" >
            <span style="font: bold 20px Araial; color: #0f81bb;" id="result"></span>
        </div>
        <br><br>
        <div class="col-md-8 text-center mt-2">
            <input style="height: 36px!important;" type="text" class="form-control" placeholder="Nombre" id="basura">
        </div>
        <br>
    </div>
    <div class="row col-md-12 justify-content-md-center">
        <div class="col-md-2 text-center mt-2">
            <button class="btn btn-success col-md-12" id="botonTapaDeBotella">Agregar <span
                    id="sumaDeImagenesTapaDeBotella">0</span></button>
        </div>
        <br><br>
        <div class="col-md-2 text-center mt-2">
            <button class="btn btn-success col-md-12" id="botonPredecir">Iniciar</button>
        </div>
        <br>

        <div class="col-md-2 text-center mt-2">
                <button type="submit" class="btn btn-success col-md-12" id="botonGuardar" value="GUARDARRR">Guardar</button>
        </div>

        <div class="col-md-2 text-center mt-2">
            <button type="submit" class="btn btn-success col-md-12" id="cargar" value="GUARDARRR">Cargar</button>
        </div>
    </div>
</div>
<script>
    let video;
    let featureExtractor;
    let clasificador;
    let tapaDeBotellaImagenes = 0;
    let basuraAux='';
    let basura='';

    function setup() {
        noCanvas();
        video = createCapture(VIDEO);
        video.parent('contenedorVideo');
        featureExtractor = ml5.featureExtractor('Mobilenet');
        clasificador = featureExtractor.classification(video);
        configuraBotones();
    }

    function configuraBotones() {
        botonB = select('#botonTapaDeBotella');
        botonB.mousePressed(function () {
            basura =  document.getElementById("basura").value;
            clasificador.addImage(basura);
            if(basuraAux == ''){
            select('#sumaDeImagenesTapaDeBotella').html(tapaDeBotellaImagenes++);
            basuraAux=document.getElementById("basura").value;
            }
            else if(basuraAux != basura){
                select('#sumaDeImagenesTapaDeBotella').html(tapaDeBotellaImagenes=0);
                basuraAux=document.getElementById("basura").value;
            }
            else if(basura == basuraAux) {
                select('#sumaDeImagenesTapaDeBotella').html(tapaDeBotellaImagenes++);
                basuraAux=document.getElementById("basura").value;
            }
        });
        botonPredecir = select('#botonPredecir');
        botonPredecir.mousePressed(function () {
            clasificador.train();
            clasificador.classify(muestraResultado);
        });

        let botonGuardar = select('#botonGuardar');
        botonGuardar.mousePressed(function () {
        clasificador.save('modelo');
        });

        botonCargar = select('#cargar');
        botonCargar.mousePressed(function () {
            clasificador.load('https://cdn.jsdelivr.net/gh/Nicolasemanuelmorales/prueba/model%20(8).json')
        });

    }

    function muestraResultado(err, res) {
        clasificador.classify(muestraResultado);
        if (res[0].confidence > 0.75) {
            select("#result").html(res[0].label);
        }
    }
</script>

</body>
</html>
