<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/pages/map.css}">
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="container my-5" th:fragment="main()">
    <div class="card card-signin my-5">
        <div class="card-body">
            <div class="container">
                <div class="hidden" id="provider-id" th:attr="data-provider_id=${data.providerId}"></div>
                <h2>Recypoints</h2>
                <div class="row margin-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary"><a href="/punto-reciclaje/recypoints/create">Agregar Nuevo Beneficiario</a></button>
                    </div>
                </div>
                <div class="row">
                    <h3>Beneficiarios</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Cantidad Restante</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="recypoint : ${data.givenRecypoints}">
                            <td th:text="|${recypoint.beneficiary.nombre} ${recypoint.beneficiary.apellido}|"></td>
                            <td th:text="${recypoint.amount}" th:id="|amount-${recypoint.beneficiary.id}|"></td>
                            <td>
                                <button class="btn btn-primary" onclick="addPoint(this)"
                                        th:attr="data-user_id=${recypoint.beneficiary.id}">
                                    Añadir Puntos
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="add-point-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Añadir Puntos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form>
                                <form>
                                    <div class="form-group">
                                        <label for="point-input">Cantidad</label>
                                        <input type="number" class="form-control" id="point-input"
                                               step="100">
                                    </div>
                                </form>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-save">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/lib/rest-client.js}"></script>
<script th:src="@{/js/pages/puntoreciclaje/recypoints/modal.js}"></script>
</body>
</html>
