<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>Descripcion</title>
    <link rel="stylesheet" th:href="@{/js/jquery-ui.css}">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
</head>
<body>
<header th:replace="fragments/header"></header>

    <div class="container">
        <div class="row">
            <div class="list-group col-md-3 mt-5" style="color: red!important;">
                <a href="#" class="list-group-item active" style="background: #3B6E36;border-color: #E7E7E7!important; color: white!important;font-weight: 600;">CATEGORIAS</a>
                <a href="#" class="list-group-item " style="border-color: #E7E7E7!important;color: black!important;">Vidrio</a>
                <a href="#" class="list-group-item" style="border-color: #E7E7E7!important;color: black!important;">Plastico</a>
                <a href="#" class="list-group-item" style="border-color: #E7E7E7!important;color: black!important;">Carton</a>
                <a href="#" class="list-group-item" style="border-color: #E7E7E7!important;color: black!important;">Second item</a>
                <a href="#" class="list-group-item" style="border-color: #E7E7E7!important;color: black!important;">Third item</a>
                <a href="#" class="list-group-item" style="border-color: #E7E7E7!important;color: black!important;">Second item</a>
                <a href="#" class="list-group-item" style="border-color: #E7E7E7!important;color: black!important;">Third item</a>
            </div>
            <div class="list-group col-md-9 mt-5">
                <div class="card text-center">
                    <div class="card-header" style="background: #3B6E36!important; color: white!important;font-weight: 600;">
                        CARTÓN
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-header" style="background: #3B6E36!important; color: white!important;font-weight: 600;">
                        TIPOS
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-header" style="background: #3B6E36!important; color: white!important;font-weight: 600;">
                        ¿ COMO RECICLAR ?
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-header" style="background: #3B6E36!important; color: white!important;font-weight: 600;">
                        ¿ DONDE RECICLAR ?
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
