<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-md-6 col-12">
                <a href="/">
                    <img src="/imagenes/logo.png" alt="RecyCloud" class="logo-footer pt2">
                </a>
                <!--<p class="slogan">Reciclar ya no será una excusa</p>-->
            </div>
            <div class=" col-md-6 col-12 text-center">
                <h5 class="headin5_amrc color-verde pt2">Menú</h5>
                <ul class="lista-footer list-inline">
                    <li class="list-inline-item"><a href="/">Inicio</a></li>
                    <li class="list-inline-item"><a href="/scanner/scanner">Scanner</a></li>
                    <li class="list-inline-item"><a href="/map">Mapa</a></li>
                    <li class="list-inline-item"><a href="/eventos">Eventos</a></li>
                    <li class="list-inline-item"><a href="/categoria">Categorías</a></li>
                    <li  th:if="${session.usuario} != null" class="list-inline-item"><a target="_blank" href="/recycommerce/login">Tienda</a></li>
                    <li  th:if="${session.usuario} == null" class="list-inline-item"><a target="_blank" href="http://www.recycommerce.local/index.php?route=common/home">Tienda</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-center mt-2">Copyright @2020 RecyCloudWeb</p>
        <ul class="iconos-footer">
            <li><a href="https://www.instagram.com/recycloudweb/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li><a href="mailto:recycloudweb@gmail.com" target="_blank"><i class="fa fa fa-envelope"></i></a></li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
              <script>

                  
                  const enableTooltipKey2 = 'recycloud-enable-tooltip';
                  const localStorage2 = window.localStorage;
                  const disabled2 = 'disabled';

                  const bindTooltip2 = (element) => {
                      element.popover({
                          trigger: 'manual',
                          html: true,
                          content: '',
                          title: 'Categorías',
                          placement: 'right',
                          template: `
<div class="popover mensaje-contenedor apagar" role="popover">
    <div class="arrow"></div>
    <h5 class="popover-title recy-popover-title fw-600 text-center">¡Tienda!</h5>
    <div class="popover-text text-center">
        <span class="text-danger">Aquí podrás vender y comprar productos hechos de reciclables</span>
    </div>
    <div class="margin-auto w100">
        <a href="#" class="card-link fw-600" id="popover-no-volver2">No volver a mostrar</a>
        <a href="#" class="card-link fw-600" id="popover-cerrar2">Cerrar</a>
    </div>

</div>
</div>
`
                      });
                  }

                  const activateTooltip2 = (element) => {
                      setTimeout(function () {
                          element.popover('toggle');
                          $('#popover-cerrar2').click(() => {
                              element.popover('dispose');
                          });
                          $('#popover-no-volver2').click(() => {
                              element.popover('dispose');
                              localStorage2.setItem(enableTooltipKey2, disabled2);
                          })
                      }, 2000);
                  }

                  const enableTooltip2 = () => {
                      if (localStorage2.getItem(enableTooltipKey2) === disabled2) {
                          return;
                      }
                      const menu2 = $('#vertical-menu2');
                      bindTooltip2(menu2);
                      activateTooltip2(menu2);
                  }
                      enableTooltip2();


                  function getCookie(cname) {
                      var name = cname + "=";
                      var decodedCookie = decodeURIComponent(document.cookie);
                      var ca = decodedCookie.split(';');
                      for(var i = 0; i <ca.length; i++) {
                          var c = ca[i];
                          while (c.charAt(0) == ' ') {
                              c = c.substring(1);
                          }
                          if (c.indexOf(name) == 0) {
                              return c.substring(name.length, c.length);
                          }
                      }
                      return "";
                  }
                  var novolver = getCookie("novolver");

                  $(document).ready(function() {
                      if (novolver != "true"){
                          var pantalla = screen.width;
                          if (pantalla <= 768) {
                              $('#myModal').modal('show');
                          }
                          $("#novolver").click(function () {
                              document.cookie="novolver=true";
                              $('#myModal').modal('hide');
                          })
                      }
                  });
              </script>
</body>
</html>
