<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RecyCloud</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<footer class="page-footer font-small indigo contendor-footer" th:fragment="footer">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3 text-center">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!"><span class="blanco" >HOME</span></a>
                </h6>
            </div>
            <div class="col-md-2 mb-3 text-center">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="/"><span class="blanco">TIENDA</span></a>
                </h6>
            </div>
            <div class="col-md-2 mb-3 text-center">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="/scanner/scanner"><span class="blanco">SCANNER</span></a>
                </h6>
            </div>
            <div class="col-md-2 mb-3 text-center">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#"><span class="blanco">CALENDARIO</span></a>
                </h6>
            </div>
            <div class="col-md-2 mb-3 text-center">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#"><span class="blanco">MAPA</span></a>
                </h6>
            </div>
        </div>
        <hr class="rgba-white-light botonera">
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-5 text-center">
                <p class="frase-footer">LO ÚNICO QUE NO PODEMOS RECICLAR ES EL TIEMPO QUE MALGASTAMOS.</p>
            </div>

        </div>
        <hr class="clearfix d-md-none rgba-white-light barrita-footer">

    </div>
    <div class=" text-center py-3 blanco">© 2020 Copyright:
        RecyClud.com
    </div>
</footer>
</body>
</html>
