<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RecyCloud</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<header id="header" th:fragment="header">
    <div class="header header-top">
        <div class="header_top_outer flex">
            <div class="header_top_inner flex container space-between">
                <div class="header_top_left flex">
                    <div class="meta_wrap flex justify-content-space-around align_center" id="header_top_meta">
                        <div class="tel margin-auto">
                            <span class="text">+54 11 4940 8340</span>
                        </div>
                        <div class="email margin-auto">
                            <span class="text">ATENCION-AL-PUBLICO@RECYCLOUD.COM.AR</span>
                        </div>
                    </div>
                </div>
                <div class="header_top_right">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="recy-navbar">
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item mr-4 contenedor-usuario" th:if="${session.usuario} != null">
                                    <a class="nav-link mb-1 mt-1" href="#">
                                        <span class="nombre-usuario"
                                            th:text="${session.usuario.nombre}">
                                        </span>
                                    </a>
                                    <ul class="blanco">
                                        <li class="nav-item gris-oscuro" >
                                            <a class="nav-link" href="/home/perfil"><span class="color-menu-usuario">Mi perfil</span></a>
                                        </li>
                                        <li class="nav-item gris-oscuro"  th:if="${session.usuario} != null and ${session.usuario.rol} == 3 ">
                                            <a class="nav-link" href="/eventos/crear"><span class="color-menu-usuario">+ Crear Evento</span></a>
                                        </li>
                                        <li class="nav-item gris-oscuro" th:if="${session.usuario} != null and ${session.usuario.rol} == 3 ">
                                            <a class="nav-link" href="#"><span class="color-menu-usuario">+ Punto de reciclaje</span></a>
                                        </li>
                                        <li class="nav-item gris-oscuro" th:if="${session.usuario} != null and ${session.usuario.rol} == 1 ">
                                            <a class="nav-link" href="/admin/categoria"><span class="color-menu-usuario">CATEGORÍA</span></a>
                                        </li>
                                        <li class="nav-item gris-oscuro"  th:if="${session.usuario} != null and ${session.usuario.rol} == 1 ">
                                            <a class="nav-link" href="/entrenamiento"><span class="color-menu-usuario">ENTRENAMIENTO</span></a>
                                        </li>

                                        <li class="nav-item gris-oscuro">
                                            <a class="nav-link" href="/login/cerrarSession"><span class="color-menu-usuario">CERRAR SESIÓN</span></a>
                                        </li>

                                    </ul>
                                </li>
                                <li th:if="${session.usuario} == null" class="nav-item margin-1 bg-light">
                                    <a class="nav-link" href="/login"><span>INICIAR SESIÓN</span></a>
                                </li>
                                <li th:if="${session.usuario} == null" class="nav-item margin-1 bg-light">
                                    <a class="nav-link" href="/login/registrar"><span>REGISTRO</span></a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand mt-3 ajuste-imagen" href="/"><img class="estilo-logo" src="/imagenes/fotito3.png"> </a>
            <button type="button" class="mt-4 navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="mt-3 collapse navbar-collapse" id="navbarCollapse">
                <ul id="navigation" class="ml-auto navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><span
                        >INICIO</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://recicommerce.exterionmu.com/"><span>TIENDA</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/scanner/scanner"><span>SCANNER</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map"><span>MAPA</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eventos"><span>EVENTOS</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categoria"><span>INFORMACIÓN</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
</body>
</html>
