<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header id="header" th:fragment="header">
    <div class="header_top" data-height="35">
        <div class="header_top_outer">
            <div class="header_top_inner">
                <div class="header_top_right">
                    <div class="header_top_aligner"></div>
                    <div class="social_wrap">
                        <div class="social_wrap_inner">
                            <ul>
                                <li>
                                    <a href="#" class="cmsms-icon-twitter-circled" title="Twitter" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="cmsms-icon-facebook-circled" title="Facebook"
                                       target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="cmsms-icon-gplus-circled" title="Google+" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="cmsms-icon-vimeo-circled" title="Vimeo" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="cmsms-icon-skype-circled" title="Skype" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header_top_left">
                    <div class="header_top_aligner"></div>
                    <div class="meta_wrap">
                        <div class="adr cmsms-icon-location-7">
                            <span class="locality">Brooklyn</span>,
                            NY
                            <span class="postal-code">10036</span>,
                            <span class="country-name">United States</span>
                        </div>
                        <div class="tel cmsms-icon-mobile-6">1-800-123-1234</div>
                        <div class="email cmsms-icon-mail-7"><a
                                href="mailto:example@econature.com">example@goodday.com</a></div>
                    </div>
                </div>
                <div class="cl"></div>
            </div>
        </div>
        <div class="header_top_but closed">
				<span class="cmsms_bot_arrow">
					<span></span>
				</span>
        </div>
    </div>
    <div class="header_mid" data-height="95">
        <div class="header_mid_outer">
            <div class="header_mid_inner">

                <div class="logo_wrap">
                    <style type="text/css">
                        .header_mid .header_mid_inner .logo_wrap {
                            width: 179px;
                        }
                    </style>
                    <a href="https://eco-nature.cmsmasters.net/" title="Eco Nature" class="logo">
                        <img src="https://eco-nature.cmsmasters.net/wp-content/uploads/2014/07/logo.png"
                             alt="Eco Nature"/>
                        <style type="text/css">
                            .header_mid_inner .logo .logo_retina {
                                max-width: 179px;
                            }
                        </style>
                        <img class="logo_retina"
                             src="https://eco-nature.cmsmasters.net/wp-content/uploads/2014/07/logo-big.png"
                             alt="Eco Nature" width="179" height="44"/>
                    </a>
                </div>

                <div class="cmsms_dynamic_cart_link"><a href="https://eco-nature.cmsmasters.net/cart/"
                                                        class="cmsms_dynamic_cart_button cmsms-icon-basket-3"></a></div>
                <div class="resp_nav_wrap">
                    <div class="resp_nav_wrap_inner">
                        <div class="resp_nav_content">
                            <a class="responsive_nav cmsms-icon-menu-2" href="javascript:void(0);"></a>
                        </div>
                    </div>
                </div>

                <!-- _________________________ Start Navigation _________________________ -->
                <nav role="navigation">
                    <div class="menu-primary-navigation-container">
                        <ul id="navigation" class="navigation">
                            <li id="menu-item-26"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-26">
                                <a href="/"><span
                                        class="nav_bg_clr"></span><span>Home</span></a></li>
                            <li id="menu-item-2352"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2352">
                                <a href="/scanner/scanner"><span
                                        class="nav_bg_clr"></span><span>Scanner</span></a>
                            </li>
                            <li id="menu-item-2245"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2245">
                                <a href="https://eco-nature.cmsmasters.net/portfolio-2/"><span
                                        class="nav_bg_clr"></span><span>Portfolio</span></a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2292"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2292">
                                        <a href="https://eco-nature.cmsmasters.net/project-grid/"><span>Project Grid</span></a>
                                    </li>
                                    <li id="menu-item-2286"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2286">
                                        <a href="https://eco-nature.cmsmasters.net/portfolio-puzzle/"><span>Masonry Puzzle</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-2195"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2195 menu-item-mega menu-item-mega-cols-four">
                                <a><span class="nav_bg_clr"></span><span>Shortcodes</span></a>
                                <div class="menu-item-mega-container">
                                    <ul class="sub-menu">
                                        <li id="menu-item-2196"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2196">
                                            <ul class="sub-menu">
                                                <li id="menu-item-2191"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2191">
                                                    <a href="https://eco-nature.cmsmasters.net/counters-progress-bars/"><span>Progress Counters</span></a>
                                                </li>
                                                <li id="menu-item-2192"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2192">
                                                    <a href="https://eco-nature.cmsmasters.net/dividers/"><span>Dividers</span></a>
                                                </li>
                                                <li id="menu-item-2193"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2193">
                                                    <a href="https://eco-nature.cmsmasters.net/featured-blocks/"><span>Featured Blocks</span></a>
                                                </li>
                                                <li id="menu-item-2194"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2194">
                                                    <a href="https://eco-nature.cmsmasters.net/icon-boxes/"><span>Icon Boxes</span></a>
                                                </li>
                                                <li id="menu-item-2598"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2598">
                                                    <a href="https://eco-nature.cmsmasters.net/testimonials/"><span>Quotes</span></a>
                                                </li>
                                                <li id="menu-item-2652"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2652">
                                                    <a href="https://eco-nature.cmsmasters.net/galleries/"><span>Galleries</span></a>
                                                </li>
                                                <li id="menu-item-2666"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2666">
                                                    <a href="https://eco-nature.cmsmasters.net/images/"><span>Images</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-2902"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2902">
                                            <ul class="sub-menu">
                                                <li id="menu-item-2901"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2901">
                                                    <a href="https://eco-nature.cmsmasters.net/icon-lists/"><span>Icon Lists</span></a>
                                                </li>
                                                <li id="menu-item-2897"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2897">
                                                    <a href="https://eco-nature.cmsmasters.net/buttons-icons/"><span>Buttons &#038; Icons</span></a>
                                                </li>
                                                <li id="menu-item-2898"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2898">
                                                    <a href="https://eco-nature.cmsmasters.net/clients/"><span>Clients</span></a>
                                                </li>
                                                <li id="menu-item-2641"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2641">
                                                    <a href="https://eco-nature.cmsmasters.net/contact-forms/"><span>Contact Forms</span></a>
                                                </li>
                                                <li id="menu-item-2903"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2903">
                                                    <a href="https://eco-nature.cmsmasters.net/special-headings/"><span>Special Headings</span></a>
                                                </li>
                                                <li id="menu-item-2940"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2940">
                                                    <a href="https://eco-nature.cmsmasters.net/portfolio-2/"><span>Portfolio</span></a>
                                                </li>
                                                <li id="menu-item-2941"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2941">
                                                    <a href="https://eco-nature.cmsmasters.net/blog-post-slider/"><span>Posts or Projects Slider</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-2950"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2950">
                                            <ul class="sub-menu">
                                                <li id="menu-item-2949"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2949">
                                                    <a href="https://eco-nature.cmsmasters.net/tweets/"><span>Tweets</span></a>
                                                </li>
                                                <li id="menu-item-2900"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2900">
                                                    <a href="https://eco-nature.cmsmasters.net/embeded-video/"><span>Embeded</span></a>
                                                </li>
                                                <li id="menu-item-2942"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2942">
                                                    <a href="https://eco-nature.cmsmasters.net/pricing-tables/"><span>Pricing Tables</span></a>
                                                </li>
                                                <li id="menu-item-2943"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2943">
                                                    <a href="https://eco-nature.cmsmasters.net/profiles/"><span>Profiles</span></a>
                                                </li>
                                                <li id="menu-item-2947"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2947">
                                                    <a href="https://eco-nature.cmsmasters.net/tabs-tours/"><span>Tabs &#038; Tours</span></a>
                                                </li>
                                                <li id="menu-item-2948"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2948">
                                                    <a href="https://eco-nature.cmsmasters.net/toggles-accordions/"><span>Toggles &#038; Accordions</span></a>
                                                </li>
                                                <li id="menu-item-2946"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2946">
                                                    <a href="https://eco-nature.cmsmasters.net/tables/"><span>Tables</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-2951"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2951">
                                            <ul class="sub-menu">
                                                <li id="menu-item-2658"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2658">
                                                    <a href="https://eco-nature.cmsmasters.net/google-maps/"><span>Google Maps</span></a>
                                                </li>
                                                <li id="menu-item-2679"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2679">
                                                    <a href="https://eco-nature.cmsmasters.net/notice-boxes/"><span>Notice Boxes</span></a>
                                                </li>
                                                <li id="menu-item-2899"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2899">
                                                    <a href="https://eco-nature.cmsmasters.net/custom-html-css-js/"><span>Custom HTML, CSS, JS</span></a>
                                                </li>
                                                <li id="menu-item-2945"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2945">
                                                    <a href="https://eco-nature.cmsmasters.net/sidebar/"><span>Sidebar</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>   //${#session.getAttribute('usuario').rol} == 1
                                    <li th:if="${#session.getAttribute('usuario')} != null" id="menu-item-2206"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2206">

                                        <a href="#"><span
                                                class="nav_bg_clr"></span><span>Admin</span></a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-25"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a
                                                    href="/categoria/categoria"><span
                                                    class="nav_bg_clr"></span><span>Categoria</span></a></li>
                                            <li id="menu-item-2507"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2507"><a
                                                    href="/entrenamiento"><span
                                                    class="nav_bg_clr"></span><span>Entrenamiento</span></a></li>
                                        </ul>
                                    </li>
                            <li th:if="${#session.getAttribute('usuario')} == null" id="menu-item-2509"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2507"><a
                                    href="/login"><span
                                    class="nav_bg_clr"></span><span>Iniciar Sesion</span></a></li>
                            <li th:if="${#session.getAttribute('usuario')} == null" id="menu-item-2522"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2507"><a
                                    href="/registrar"><span
                                    class="nav_bg_clr"></span><span>Registrar</span></a></li>

                            <li th:if="${#session.getAttribute('usuario')} != null" id="menu-item-2236"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2206">
                                <a href="#"><span
                                        class="nav_bg_clr"></span><span th:text="${#session.getAttribute('usuario').usuario}" id="aaa"></span></a>
                                <ul class="sub-menu">
                                    <li id="menu-item-254"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a
                                            href="/categoria/categoria"><span
                                            class="nav_bg_clr"></span><span>Perfil</span></a></li>
                                    <li id="menu-item-2544"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2507"><a
                                            href="/login/cerrarSession"><span
                                            class="nav_bg_clr"></span><span>Cerrar Session</span></a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="cl"></div>
                </nav>
                <!-- _________________________ Finish Navigation _________________________ -->
            </div>
        </div>
    </div>
</header>
</body>
</html>
