<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/pages/map.css}">
    <link rel="stylesheet" th:href="@{/js/jquery-ui.css}">
</head>
<body>
<header th:replace="fragments/header"></header>

<div class="container" th:fragment="main()">

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1 th:text="${codigo}"></h1>
            </div>
            <h2>Oops! Nothing was found</h2>
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable. <a href="#">Return to homepage</a></p>
            <div class="notfound-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>

    
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
