<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud</title>
    <link rel="stylesheet" th:href="@{/js/jquery-ui.css}">
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="mt-3 " style="width: 100%; height: 450px;">
<img style="width: 100%; height: auto;" src="/css/banner.png">
</div>
<br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="d-sm-none d-md-block col-md-5 p-md-5  d-flex justify-content-center align-items-center">
                    <span class="icon-play"><img style="height: auto;width: 80%;" src="/css/descarga.jpeg"></span>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 ">
                    <div class="ml-md-0">
                        <h2 class="mb-4" style="color:#3B6E36;font-weight: 800;font-size: 30px;">¿QUIENES SOMOS?</h2>
                    </div>
                </div>
                <div class="pb-md-5" style="font-size: 19px;">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
                </div>
            </div>
        </div>
    </div>
<section class="page-section" id="services" style="background: #E2EEE1">
    <br>
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="color: darkorange;font-weight: 800;font-size: 30px;">SERVICIOS</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-3 text-center">
                <span class="fa-stack fa-4x"><img style="width: 48%; height: auto;" src="/css/scan.svg"></span>
                <h4 class="my-3" style="color: darkorange; font-weight: 600;">SCANNER</h4>
                <p class="text-muted">Sacá o cargá una foto del producto que quieras reciclar para recibir información de como, donde y por que hacerlo.</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="fa-stack fa-4x"><img style="width: 70%; height: auto;" src="/css/map-location.svg"></span>
                <h4 class="my-3" style="color: darkorange; font-weight: 600;">MAPA</h4>
                <p class="text-muted">Buscá en el mapa los puntos mas cercanos para poder llevar tus productos reciclables, como tambien la forma en la que necesitan que los presentes.</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="fa-stack fa-4x"><img style="width: 70%; height: auto;" src="/css/laptop.svg"></span>
                <h4 class="my-3" style="color: darkorange; font-weight: 600;">TIENDA</h4>
                <p class="text-muted">Utilizá la tienda para comprar o vender tus productos echos con reciclaje.</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="fa-stack fa-4x"><img style="width: 70%; height: auto;" src="/css/calendar-interface-symbol-tool.svg"></span>
                <h4 class="my-3" style="color: darkorange; font-weight: 600;">CALENDARIO</h4>
                <p class="text-muted">Mira los proximos eventos de recoleccion o de charlas informativas.</p>
            </div>
        </div>
    </div>
    <br>
</section>
</body>
</html>
