<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://apis.google.com/js/platform.js" content="" async defer></script>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v7.0" nonce="f06UTxlg"></script>

<header th:replace="fragments/header"></header>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><span class="naranja">Iniciar sesión</span></h5>
                    <form action="#" th:action="@{/login}" th:object="${login}" method="post">
                        <div class="form-label-group">
                            <input type="text" th:field="*{email}" name="email" id="email" class="form-control" placeholder="Email">
                            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>

                        <div class="form-label-group mt-3">
                            <input type="password" th:field="*{password}" name="password" id="password" class="form-control" placeholder="Contraseña" >
                            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                        </div>
                        <button class="btn btn-primary btn-block text-uppercase verde-blanco mt-3" id="iniciar" type="submit">Iniciar sesión</button>
                    </form>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-md-3 pr-md-0 float-left">
                            <img src="/imagenes/google.jpg" class="redes" id="img-g" alt="">
                            <div class="g-signin2" hidden id="customBtn" data-redirecturi="/" data-onsuccess="Registrar" data-theme="dark"></div>
                        </div>
                        <div class="col-12 col-md-6 mb-md-3 pl-md-0 float-left">
                            <img src="/imagenes/facebook.jpg" class="redes" id="img-fb" alt="">
                            <fb:login-button hidden scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button">
                            </fb:login-button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>

<script>



    function Registrar(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        console.log("perfil",profile);
        // The ID token you need to pass to your backend:
        let id_token = googleUser.getAuthResponse().id_token;
        id_token=id_token.toString().slice(0, 48);
        console.log("ID Token: " + id_token);
        googleUser.disconnect();

        $.ajax({
            url: "logingooglefacebook",
            type: 'POST',
            data: {nombre: profile.getGivenName(),apellido:profile.getFamilyName(),email:profile.getEmail(),pass:id_token},
            success: function(data) {
                document.location.href='/';
            }
        });

    }

    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                   // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            testAPI();
        }
    }


    function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {   // See the onlogin handler
            statusChangeCallback(response);
        });
    }


    window.fbAsyncInit = function() {
        FB.init({
            appId      : '3816693108347076',
            cookie     : true,                     // Enable cookies to allow the server to access the session.
            xfbml      : true,                     // Parse social plugins on this webpage.
            version    : 'v7.0'           // Use this Graph API version for this call.
        });


        FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
            statusChangeCallback(response);        // Returns the login status.
        });
    };

    function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me','GET',
            {"fields":"first_name,last_name,email,id"}, function(response) {
            console.log(response);
            let codigo=response.id.toString().slice(0, 48);
                $.ajax({
                    url: "logingooglefacebook",
                    type: 'POST',
                    data: {nombre: response.first_name,apellido:response.last_name,email:response.email,pass:codigo},
                    success: function(data) {
                        document.location.href='/';
                    }
                });
            });
    }

    function fblogin(url) {
        FB.login(function(response) {
            if (response.authResponse) {
                top.location.href = url;
            }
            else {
            }
        }, {scope:'email,manage_pages,offline_access,publish_stream'});
    }

    $( document ).ready(function() {
        $("#img-g").click(function () {
            $(".abcRioButtonContentWrapper").click();
        });
        $("#img-fb").click(function () {
            FB.login(statusChangeCallback, {scope: 'email,public_profile', return_scopes: true});
        });
    });
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_US/sdk.js"></script>
</body>
</html>
