<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<header th:replace="fragments/header"></header>

<div class="container">
    <div class="row">
        <div class=" col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><span class="naranja">Registro</span></h5>
                    <form action="#" th:action="@{/login/registrar}" th:object="${usuario}" method="post">
                        <div class="form-label-group">
                            <input type="text" th:field="*{nombre}" id="nombre" class="form-control" placeholder="Nombre" autofocus>
                            <span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                        </div>

                        <div class="form-label-group mt-3">
                            <input type="text" th:field="*{apellido}" id="apellido" class="form-control" placeholder="Apellido">
                            <span class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
                        </div>

                        <div class="form-label-group mt-3">
                            <input type="text" th:field="*{email}" id="email" class="form-control" placeholder="Email">
                            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>

                        <div class="form-label-group mt-3">
                            <input type="password" th:field="*{password}" id="password" class="form-control" placeholder="Contraseña" >
                            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                        </div>

                        <button class="btn btn-primary btn-block text-uppercase mt-3 verde-blanco" id="iniciar2" type="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
