<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumino - Charts</title>
    <link th:href="@{/lumino/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/lumino/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lumino/css/datepicker3.css}" rel="stylesheet">
    <link th:href="@{/lumino/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!--[if lt IE 9]>
    <script th:src="@{/lumino/js/html5shiv.js}"></script>
    <script th:src="@{/lumino/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar nav2 navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/"><img src="/imagenes/logo.png" alt="Logo RecyCloud" class="logo2"
            /></a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-xs-12 col-md-3 sidebar">
    <div class="profile-sidebar">
        <div class="w100">
            <h2 th:text="${usuario.nombre + ' ' + usuario.apellido}" } class="text-center negrita"></h2>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <ul class="nav menu">
        <li class="active w1"><a href="/admin/punto" class="blanco hov btn-primary"><em
                class="fa fa-plus-circle">&nbsp;</em> Puntos de reciclaje</a></li>
        <li class="active w1"><a href="/admin/estadisticas" class="active2 blanco hov btn-primary"><em
                class="fa fa-visitas-chart">&nbsp;</em>Estadísticas</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-12 col-md-9 offset-md-3 main">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Estadísticas</h1>
        </div>
    </div><!--/.row-->
    <div class="panel panel-container">
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-teal panel-widget border-right">
                    <div class="row no-padding"><em class="w100 fa fa-xl fa-eye color-blue"></em>
                        <div class="large w100" id="visitas-totales">120</div>
                        <div class="text-muted w100">Visitas al sitio totales</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding"><em class="w100 fa fa-xl fa-user color-orange"></em>
                        <div class="large w100" th:text="${estadisticas.usuariosTotales}"></div>
                        <div class="text-muted w100">Usuarios registrados</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-orange panel-widget border-right">
                    <div class="row no-padding"><em class="fa fa-xl fa-map-marker color-teal w100"></em>
                        <div class="large w100" id="puntos-totales">24</div>
                        <div class="text-muted w100">Puntos de reciclaje</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-red panel-widget ">
                    <div class="row no-padding"><em class="w100 fa fa-xl fa-recycle color-red"></em>
                        <div class="large w100" th:text="${estadisticas.categoriasTotales}"></div>
                        <div class="text-muted w100">Categorías cargadas</div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Puntos de reciclaje más solicitados
                    <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span></div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="top-pines" height="200" width="600"></canvas>
                    </div>
                    <p id="referencia">
                        <span class="col-md-3 col-6 float-left text-center fw-600 mt-3 fs-16" style="color: ">hola</span>
                        <span class="col-md-3 col-6 float-left text-center fw-600 mt-3 fs-16" style="color: ">hola</span>
                        <span class="col-md-3 col-6 float-left text-center fw-600 mt-3 fs-16" style="color: ">hola</span>
                        <span class="col-md-3 col-6 float-left text-center fw-600 mt-3 fs-16" style="color: ">hola</span>
                    </p>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Roles
                    <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span></div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="chart" id="pie-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Eventos
                    <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span></div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="chart" id="doughnut-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Visitas al sitio
                    <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span></div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="visitas-chart" height="200" width="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->


</div>    <!--/.main-->


<script th:src="@{/lumino/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/lumino/js/bootstrap.min.js}"></script>
<script th:src="@{/lumino/js/chart.min.js}"></script>
<script th:src="@{/lumino/js/chart-data.js}"></script>
<script th:src="@{/lumino/js/easypiechart.js}"></script>
<script th:src="@{/lumino/js/easypiechart-data.js}"></script>
<script th:src="@{/lumino/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/lumino/js/custom.js}"></script>
<script>

    var myVariable1 = [[${estadisticas.usuariosTotalesRol1}]];
    var myVariable2 = [[${estadisticas.usuariosTotalesRol2}]];
    var myVariable3 = [[${estadisticas.usuariosTotalesRol3}]];

    var activo = [[${estadisticas.activo}]];
    var inactivo = [[${estadisticas.inactivo}]];
    var totales = [[${estadisticas.total}]];


    var pieData = [
        {
            value: myVariable3,
            color: "#ffb53e",
            highlight: "#fac878",
            label: "Punto de reciclaje"
        },
        {
            value: myVariable2,
            color: "#1ebfae",
            highlight: "#3cdfce",
            label: "Genérico"
        },
        {
            value: myVariable1,
            color: "#f9243f",
            highlight: "#f6495f",
            label: "Administradores"
        }

    ];

    var doughnutData = [
        {
            value: activo,
            color: "#ffb53e",
            highlight: "#fac878",
            label: "Eventos activos"
        },
        {
            value: inactivo,
            color: "#1ebfae",
            highlight: "#3cdfce",
            label: "Eventos inactivos"
        },


    ];

    window.onload = function () {
        const referencia = document.getElementById('referencia');
        const lineaTemplate = (data) => {
            return `<span class="col-md-3 col-6 float-left text-center fw-600 mt-3 fs-16" style="color:${data.strokeColor} ">${data.label}</span>`
        };



        const visitasTotalesDiv = document.getElementById("visitas-totales");
        $.ajax(
            {
                url: '/api/statistics/visitors/count',
                success: (data) => {
                    visitasTotalesDiv.innerText = data.value;
                }
            }
        );

        const puntosTotalesDiv = document.getElementById('puntos-totales');
        $.ajax(
            {
                url: '/api/statistics/pines/count',
                success: (data) => {
                    puntosTotalesDiv.innerText = data.value;
                }
            }
        );


        const topPinesChart = document.getElementById("top-pines").getContext("2d");
        $.ajax(
            {
                url: '/api/statistics/datasets/top-points?semester_id=1',
                success: (data) => {
                    const pines = [];
                    data.datasets.forEach((dataset) => {
                        pines.push(lineaTemplate(dataset));
                    });
                    referencia.innerHTML = pines.join('');
                    window.myLine = new Chart(topPinesChart).Line(data, {
                        responsive: true,
                        scaleLineColor: "rgba(0,0,0,.2)",
                        scaleGridLineColor: "rgba(0,0,0,.05)",
                        scaleFontColor: "#c5c7cc"
                    })
                }
            }
        );

        const visitasChart = document.getElementById("visitas-chart").getContext("2d");
        $.ajax(
            {
                url: '/api/statistics/datasets/visitors?semester_id=1',
                success: (data) => {
                    window.myLine = new Chart(visitasChart).Line(data, {
                        responsive: true,
                        scaleLineColor: "rgba(0,0,0,.2)",
                        scaleGridLineColor: "rgba(0,0,0,.05)",
                        scaleFontColor: "#c5c7cc"
                    })
                }
            }
        );
        var chart3 = document.getElementById("doughnut-chart").getContext("2d");
        window.myDoughnut = new Chart(chart3).Doughnut(doughnutData, {
            responsive: true,
            segmentShowStroke: false
        });
        var chart4 = document.getElementById("pie-chart").getContext("2d");
        window.myPie = new Chart(chart4).Pie(pieData, {
            responsive: true,
            segmentShowStroke: false
        });

    };
</script>
</body>
</html>
