<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecicCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/pages/map.css}">
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="container" th:fragment="main()">
    <div class="card">
        <div id="map"></div>
        <div class="card-body">
            <h5 class="card-title">Puntos de Reciclaje</h5>
            <p class="card-text">Encontrá dónde dejar tus reciclajes por categoría!</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
<script th:src="@{/js/pages/map.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0lJoUoC-kiNyutxVB9ay4Oycbs35KjEg&callback=initMap"
        async defer></script>
</body>
</html>