<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/pages/map.css}">
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="container my-2" th:fragment="main()">
                <div class="row">
                    <h2 class="text-center my-2 font-weight-bold color-verde col-12">Puntos de reciclaje</h2>

                    <a href="/punto-reciclaje/create" class="blanco fw-600 btn-recyp2 btn btn-primary  mb-3">Agregar punto de reciclaje</a>
                <div class="col-12">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categorías</th>
                        <th scope="col">Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="puntoReciclaje : ${data.puntosReciclaje}">
                        <th scope="row" th:text="${puntoReciclaje.pin.title}"></th>
                        <td><span
                                th:each="category : ${puntoReciclaje.pin.categories}"
                                th:text="${category}"
                                class="badge badge-primary m-1"></span></td>
                        <td class="text-center">
                            <a th:href="@{/punto-reciclaje/edit/__${puntoReciclaje.puntoReciclaje.id}__}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="contenedor-ocultar">
                <p class="ocultar-pasos color-naranja" data-toggle="tooltip" data-placement="top" title="Ocultar RecyPoints">▲</p>
                <p class="mostrar-pasos color-naranja" data-toggle="tooltip" data-placement="top" title="Mostrar RecyPoints">▼</p>
            </div>
        </div>
    </div>
    <div class="container mb-5 mt-2" id="recypoints">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center my-3 font-weight-bold color-verde">Cómo otorgar Recy Points</h2>
                <a th:href="@{'/punto-reciclaje/recypoints'}" class="btn btn-primary btn-recyp mb-1 blanco fw-600">Cargar Recy Points</a>
                        <div class="alert alert-success text-center fw-600 mt-0" role="alert">
                            Atrae usuarios a tus puntos de reciclaje e incrementa tus ventas con Recy Points.
                        </div>
                    </div>
                    <div class="col-12 col-md-3 float-left ocultar-recy">
                        <div class="card my-4 py-1">
                            <img class="card-img-top card-scanner-img" src="/imagenes/recicla.svg" alt="Card image cap">
                            <div class="card-body tarjeta-recypoint">
                                <p class="card-text text-center mb-0"><span class="font-weight-bold color-verde">Recolectá residuos reciclables</span>
                                </p>
                                <p class="card-text text-center mb-4">¡Da de alta tu punto de reciclable para que los
                                    usuarios puedan verte!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md col-12 float-left my-auto ocultar-recy">
                        <img src="/imagenes/flecha.svg" alt="flecha" class="flechas d-none d-md-block">
                        <img src="/imagenes/flecha2.svg" alt="flecha" class="flechas2 d-block d-md-none">
                    </div>
                    <div class="col-12 col-md-3 float-left ocultar-recy">
                        <div class="card my-4 py-1">
                            <img class="card-img-top card-scanner-img" src="/imagenes/dar-puntos.svg"
                                 alt="Card image cap">
                            <div class="card-body tarjeta-recypoint">
                                <p class="card-text text-center mb-0"><span class="font-weight-bold color-verde">Dar Recy Points a un usuario</span>
                                </p>
                                <p class="card-text text-center mb-4"><strong>Premiá</strong> a los usuarios
                                    que te lleven reciclables dándole <strong class="color-naranja">Recy Points*</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md col-12 float-left my-auto ocultar-recy">
                        <img src="/imagenes/flecha.svg" alt="flecha" class="flechas d-none d-md-block">
                        <img src="/imagenes/flecha2.svg" alt="flecha" class="flechas2 d-block d-md-none">
                    </div>
                    <div class="col-12 col-md-3 float-left ocultar-recy">
                        <div class="card my-4 py-1">
                            <img class="card-img-top card-scanner-img" src="/imagenes/carrito.svg" alt="Card image cap">
                            <div class="card-body tarjeta-recypoint">
                                <p class="card-text text-center mb-0"><span class="font-weight-bold color-verde">Vendé tus productos con descuentos</span>
                                </p>
                                <p class="card-text text-center">El usuario podrá usar los puntos que recibió <strong>exclusivamente
                                    en tus productos.</strong></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning text-center fw-600 ocultar-recy" role="alert">
                    100 Recy Points equivalen a un 1% de descuento. El descuento máximo que el usuario podrá aplicar será de 500 puntos por producto.
                </div>
            </div>
</div>
<footer th:replace="fragments/footer"></footer>
<script>
    $(".mostrar-pasos").hide();
    $(".ocultar-pasos").click(function () {
        $(".ocultar-recy").hide(1000);
        $(".ocultar-pasos").hide();
        $(".mostrar-pasos").show();
    });
    $(".mostrar-pasos").click(function () {
        $(".ocultar-recy").show(1000);
        $(".mostrar-pasos").hide();
        $(".ocultar-pasos").show();
    });
</script>
</body>
</html>
