<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<header th:replace="fragments/header"></header>
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-4 margin-auto text-center divcontenedorVideo">
            <div class="text-center"id="contenedorVideo"></div>
        </div>
        <div class="col-md-4 text-center ">
            <div class="col-md-12">
                <a href="/scanner/scanner"><button class="btn col-md-12 mt-5 mb-4 btn-primary "  id="cambiaravideo"><span class="fas fa-arrow-circle-left"></span> Video en tiempo real</button></a>
            </div>
            <div class="col-md-12">
                <button class="btn col-md-12 mt-5 mb-4 btn-primary disabled" disabled  id="cambiaraimagen">Adjunar imagen <span class="fas fa-arrow-circle-right"></span></button>
            </div>
        </div>
        <div id="avatarImage" class="col-md-4 margin-auto text-center s2">
            <div class="col-md-12 "><img id="imagenn" class="bordes-adjun" src="/imagenes/adjun.png"></div>
        </div>
    </div>
</div>
    <div class="row mt-2 centrarvideo text-center">
        <div class="col-md-12 mt-2 mb-4 text-center">
            <span class="col-md-12 " id="result"></span>
        </div>
    </div>
    <div class="row centrarbotones">
            <div class="col-md-4 mb-2">
                <button class="btn col-md-12 verde-blanco" id="botonPredecir">Iniciar</button>
            </div>
            <div class="col-md-4 mb-2">
                <button class="btn col-md-12 verde-blanco" onclick="masInfo()" id="info">Mas Información</button>
            </div>
            <div class="col-md-4 mb-2">
                <button class="btn col-md-12 verde-blanco mb-5" onclick="verMapa()" id="mapita">Ver Mapa</button>
            </div>
    </div>
<input onchange="previewFile()" type="file" hidden name="avatarInput" id="avatarInput" />

<script th:inline="javascript">
    let video;
    let featureExtractor;
    let clasificador;
    let info;
    let cate
    function setup() {
        noCanvas();
        clasificador = ml5.imageClassifier('MobileNet',modelReady);
        clasificador = ml5.imageClassifier('https://cdn.jsdelivr.net/gh/Nicolasemanuelmorales/prueba/mmvvpp2.json',modelReady);
        configuraBotones();
    }
    function configuraBotones() {

        let botonPredecir = select('#botonPredecir');
        botonPredecir.mousePressed(function () {
            if(document.getElementById('imagenn').src === window.location.protocol + "//" + window.location.host + "/" + 'css/adjun.png'){
                select("#result").html("Agregue una imagen por favor.");
            }else {
            clasificador.predict(document.getElementById('imagenn'), function(err, results) {
                muestraResultado(err,results)
            });}
        });
    }

    function muestraResultado(err, res) {
        /*<![CDATA[*/
        var myVariable= /*[[${categorias}]]*/ 'value';
        /*]]>*/
        let auxi =0;
        let resu;
        for (var x=0;x < res.length;x++){
            if(res[x].confidence > auxi){
                auxi=res[x].confidence;
                resu=res[x];
            }
        }
            myVariable.forEach(function (value) {
                if (resu.label == value.imagen){
                cate = value.categoria.nombre;
                    info=value.categoria;
                    select("#result").html(cate);
                }
            });

    }
    function modelReady() {
        //clasificador.load('https://cdn.jsdelivr.net/gh/Nicolasemanuelmorales/prueba/mmvvpp2.json');
    }

    function masInfo() {
        if(info == null){}
        else{window.location.replace("/categoria/"+info.id);}
    }
    function verMapa() {
        if(info == null){}
        else{window.location.replace("/map?categories=" + info.nombre.toUpperCase());}
    }

    $(document).ready(function () {
        var $avatarInput, $avatarImage;
        $(function () {
            $avatarInput = $('#avatarInput');
            $avatarImage = $('#avatarImage');
            $avatarImage.on('click', function () {
                $avatarInput.click();
            })
        })
    });

    function previewFile() {
        const preview = document.querySelector('#imagenn');
        const di = document.querySelector('#avatarInput');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
