<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>Entrenamiento</title>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
</head>
<body>
<style>video {
    width: 300px;
    height: 200px;
}</style>
<header th:replace="fragments/header"></header>
<div class="text-center" id="contenedorVideo"></div>
<br>
<div style="width: 40%; height: 300px;margin: 0 auto;">
    <div class="row col-md-12 text-center">
        <div class="col-md-12 text-center" style="margin-left: 1%;">
            <button class="btn btn-info col-md-12" id="botonPredecir">Iniciar la prediccion</button>
        </div>
        <br>
        <div class="col-md-12 text-center" style="margin-left: 1%;"><span
                style="font: bold 20px Araial; color: #0f81bb;" id="result"></span></div>

        <div></div>

    </div>
</div>

<script>
    let video;
    let featureExtractor;
    let clasificador;
    let botellaImagenes = 0;
    let tapaDeBotellaImagenes = 0;
    let perdida = 0;

    function setup() {
        noCanvas();
        video = createCapture(VIDEO);
        video.parent('contenedorVideo');
        featureExtractor = ml5.featureExtractor('MobileNet');
        clasificador = featureExtractor.classification(video);
        configuraBotones();
    }

    function configuraBotones() {

        botonPredecir = select('#botonPredecir');
        botonPredecir.mousePressed(function () {
            clasificador.classify(muestraResultado);
        });
    }

    function muestraResultado(err, res) {
        clasificador.classify(muestraResultado);
        if (res[0].confidence > 0.95) {
            select("#result").html(res[0].label);
        }

    }
</script>
</body>
</html>
