<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="container mb-5">
    <div class="row ">
        <div class="col-12 justify-content-md-center mt-5">
            <form action="#" th:action="@{/eventos/crear}" th:object="${evento}" method="post" class="col-md-4 col-12 float-left">
            <div class="text-center botonera">
                <div class="col-md-12 text-center ">
                    <input type="date"  class="form-control col-md-12" placeholder="Fecha" name="fecha" id="fecha">
                </div>
                <div class="col-md-12 text-center mt-2">
                    <input type="time" class="form-control col-md-12" placeholder="Hora inicio" name="horaInicio" id="horaInicio">
                </div>
                <div class="col-md-12 text-center mt-2">
                    <input type="time" class="form-control col-md-12" placeholder="Hora fin" name="horaFin" id="horaFin">
                </div>
                <div class="col-md-12 text-center mt-2">
                    <input th:field="*{titulo}" type="text" class="form-control col-md-12" placeholder="Titulo" name="titulo" id="titulo">
                    <span class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
                </div>
                <div class="col-md-12 text-center mt-2">
                    <input th:field="*{direccion}" type="text" class="form-control col-md-12" placeholder="Direccion" name="direccion" id="direccion">
                    <span class="text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></span>
                </div>
                <div class="col-md-12 text-center mt-2">
                    <input th:field="*{localidad}" type="text" class="form-control col-md-12" placeholder="Localidad" name="localidad" id="localidad">
                    <span class="text-danger" th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}"></span>
                </div>
                <div class="col-md-12 text-center mt-2">
                    <button type="submit" class="btn btn-primary form-control col-md-12 verde-blanco mb-5" id="guardar">Crear evento</button>
                </div>
            </div>
        </form>

            <div class="col-md-8  mb-5 float-right">
                <div class="col-lg-12 col-12 float-left mb-3" id="card-evento" th:each="eventos : ${listaDeEventos}">
                    <div class="card text-center col-md-12  float-left">
                        <div class="card-header degradado">
                            <div class="col-md-8 text-center cabezera-evento float-left"><span th:text="${eventos.titulo}"></span></div>
                            <div class="col-md-4 text-center cabezera-evento float-left"><span th:text="${eventos.fecha}"></span></div>
                        </div>
                        <div class="card-body text-center direccion">
                            <span class="fw-600"><span th:text="${eventos.direccion}"></span>, <span th:text="${eventos.localidad}"></span> <br> <span th:text="${eventos.horaInicio}" class="color-naranja"></span> a <span class="color-naranja" th:text="${eventos.horaFin}"></span></span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>

</body>
</html>
