<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<header th:replace="fragments/header"></header>
<section>
    <div class="container eventos">
        <div class="row">
            <div class="col-md-2 mt-4 float-left pr-md-0 py-0">
                <div class="col-12 text-center float-left p-md-0">
                    <div class="list-group w-100 float-left form-filtro">
                        <p class="list-group-item active titulo-categoria">FILTROS</p>
                        <form action="">
                            <div class="form-group list-group-item bordes-categoria">
                                <p>Fecha</p>
                                <div class="form-check"  onclick="hoy()">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="hoy" value="option1" >
                                    <label class="form-check-label" for="hoy">
                                        Hoy
                                    </label>
                                </div>
                                <div class="form-check" onclick="semana()">
                                    <input class="form-check-input"  type="radio" name="exampleRadios" id="semana" value="option2" >
                                    <label class="form-check-label color-radio" for="semana">
                                        Semana
                                    </label>
                                </div>
                                <div class="form-check" onclick="mes()">
                                    <input class="form-check-input"   type="radio" name="exampleRadios" id="mes" value="option3" >
                                    <label class="form-check-label" for="mes">
                                        Mes
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-10 mt-2 mb-5">
                <div class="col-md-6 float-left" id="card-evento" th:each="eventos : ${listaDeEventos}">
                    <div class="card text-center mt-3 ">
                        <div class="card-header degradado">
                            <div class="col-md-8 text-center cabezera-evento float-left"><span th:text="${eventos.titulo}"></span></div>
                            <div class="col-md-4 text-center cabezera-evento float-left"><span th:text="${eventos.fecha}"></span></div>
                        </div>
                        <div class="card-body text-center direccion">
                            <span class="fw-600"><span th:text="${eventos.direccion}"></span>, <span th:text="${eventos.localidad}"></span> <br> <span th:text="${eventos.horaInicio}" class="color-naranja"></span> a <span class="color-naranja" th:text="${eventos.horaFin}"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
var pat = window.location.pathname;
    function check() {
            if (pat === "/eventos/filtro/hoy")
            {
                document.getElementById('hoy').checked=true;
            }
            if (pat === "/eventos/filtro/semana")
            {
                document.getElementById('semana').checked=true;
            }
            if (pat === "/eventos/filtro/mes")
            {
                document.getElementById('mes').checked=true;
            }
    }

    function hoy() {
        window.location.replace("/eventos/filtro/hoy");
        document.getElementById('hoy').checked=true;
    }
    function semana() {
        window.location.replace("/eventos/filtro/semana");
    }
    function mes() {
        window.location.replace("/eventos/filtro/mes");
    }

    check();

</script>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
