<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <title>RecyCloud ♻️</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-12 my-md-5 my-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" id="perfil">Mis datos</a>
                <a href="#" class="list-group-item list-group-item-action" id="datos">Actualizar datos</a>
                <a href="#" class="list-group-item list-group-item-action" id="password">Cambiar contraseña</a>
                <a href="#" th:if="${session.usuario.rol} != 3 and (${session.estado.estado} == 0 or ${session.estado} == null)" class="list-group-item list-group-item-action" id="puntos">Ser punto de reciclaje</a>
            </div>

            <div class="alert alert-success text-center mt-2" role="alert" th:if="${session.usuario.rol} == 3">
                ¡Ya sos un punto de reciclaje!
            </div>
            <div th:if="${session.estado} != null">
                <div class="alert alert-warning text-center mt-2" role="alert" th:if="${session.estado.estado} == 1">
                    Tu solicitud está siendo evaluada
                </div>

                <div class="alert alert-danger text-center mt-2" role="alert" th:if="${session.estado.estado} == 0">
                    Sus imágenes fueron rechazadas, por favor, inténtelo nuevamente
                </div>
            </div>

        </div>
        <div class="col-12 col-md-8">
            <div class="card card-signin col-12 my-md-5 my-3">
                <div class="card-body">
                    <div id="div_perfil">
                        <h2 class="card-title text-center">Mi Perfil</h2>
                        <img src="../imagenes/perfil.jpg" alt="" class="foto-perfil rounded-circle">
                        <h2 th:text="${session.usuario.nombre + ' ' + session.usuario.apellido}"} class="text-center negrita"></h2>
                        <h4 th:text="${session.usuario.email}" class="text-center"></h4>
                    </div>

                    <form action="#" th:action="@{/home/modificar}" th:object="${usuario}" method="post" id="div_datos">
                        <h3 class="card-title text-center" style="font-size: 30px;">Actualizar datos</h3>
                        <div class="form-inline mt-3">
                            <h5 class="w-100">Fecha de nacimiento</h5>
                            <div class="form-group col-4 px-0">
                                <select class="form-control w-100" style="padding-top: 2px!important; padding-bottom: 2px;height: 30px;" id="daydropdown" name="dia"></select>
                            </div>
                            <span class="text-danger"></span>
                            <div class="form-label-group col-4 ">
                                <select class="form-control w-100" style="padding-top: 2px!important; padding-bottom: 2px;height: 30px;" id="monthdropdown" name="mes"></select>
                            </div>
                            <span class="text-danger"></span>
                            <div class="form-label-group col-4 ">
                                <select class="form-control w-100" style="padding-top: 2px!important; padding-bottom: 2px;height: 30px;" id="yeardropdown" name="anio"></select>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-label-group mt-3">
                            <input type="number" id="dni" name="dni" class="form-control" placeholder="DNI">
                            <span class="text-danger"></span>
                        </div>
                        <button class="btn btn-sm  btn-block text-uppercase botones-perfil" id="cambiar_datos" type="submit">Modificar datos</button>
                    </form>

                    <form action="#" th:action="@{/home/password}" th:object="${password}" method="post" id="div_password">
                        <h3 class="card-title text-center" style="font-size: 30px;">Cambiar contraseña</h3>
                        <div class="form-label-group mt-3">
                            <input type="password" id="old-password" name="oldPassword" class="form-control" placeholder="Contraseña actual" >
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-label-group mt-3">
                            <input type="password"  id="new-password" name="newPassword" class="form-control" placeholder="Nueva contraseña" >
                            <span class="text-danger" ></span>
                        </div>

                        <div class="form-label-group mt-3">
                            <input type="password" id="renew-password" name="reNewPassword" class="form-control" placeholder="Confirmar contraseña" >
                            <span class="text-danger" ></span>
                        </div>
                        <button  class="btn btn-sm  btn-block text-uppercase botones-perfil" id="pass" type="submit">Cambiar contraseña</button>
                    </form>

                    <form name="uploadFiles" id="uploadFiles" th:action="@{/home/completar}" enctype="multipart/form-data" method="post">
                        <h3 class="card-title text-center">Ser punto de reciclaje</h3>
                        <div class="form-label-group mt-4">
                            <label class="">Seleccionar imágenes<span class="text-danger">*</span></label>
                            <input type="file" multiple="multiple" name="files" id="files" class="form-control-file">
                        </div>
                        <p class="alert alert-info d-none d-md-block mt-3"><span class="text-danger">*</span>Presione la tecla Ctrl para seleccionar más de una imagen</p>
                        <p class="alert alert-info d-block d-md-none mt-3"><span class="text-danger">*</span>Mantenga presionado para seleccionar mas de una imagen</p>
                        <button class="btn btn-sm  btn-block text-uppercase botones-perfil subir-img" id="punto-entrega" type="submit">Cargar imágenes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
</div>

<script>
    $( document ).ready(function($) {
        $("#password").click(function(){
            $("#div_perfil").hide();
            $("#div_password").show();
            $("#div_datos").hide();
            $("#uploadFiles").hide();
            $( "#password" ).addClass( "active" );
            $( "#perfil" ).removeClass( "active" );
            $( "#puntos" ).removeClass( "active" );
            $( "#datos" ).removeClass( "active" );
        });

        $("#perfil").click(function(){
            $("#div_perfil").show();
            $("#div_password").hide();
            $("#div_datos").hide();
            $("#uploadFiles").hide();
            $( "#perfil" ).addClass( "active" );
            $( "#password" ).removeClass( "active" );
            $( "#puntos" ).removeClass( "active" );
            $( "#datos" ).removeClass( "active" );
        });

        $("#datos").click(function(){
            $("#div_perfil").hide();
            $("#div_password").hide();
            $("#div_datos").show();
            $("#uploadFiles").hide();
            $( "#datos" ).addClass( "active" );
            $( "#perfil" ).removeClass( "active" );
            $( "#puntos" ).removeClass( "active" );
            $( "#password" ).removeClass( "active" );
        });

        $("#puntos").click(function(){
            $("#div_perfil").hide();
            $("#div_password").hide();
            $("#div_datos").hide();
            $("#uploadFiles").show();
            $( "#puntos" ).addClass( "active" );
            $( "#perfil" ).removeClass( "active" );
            $( "#password" ).removeClass( "active" );
            $( "#datos" ).removeClass( "active" );
        });


        $(".form-control-file").change(function(){
            $(".subir-img").show();
        });
        
        //$("#identificacion").mask("99-99999999-9");

        //Select fecha nacimiento
        var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];

        function daysInMonth(month, year) {
            return new Date(year, month, 0).getDate();
        }

        function populateDates(){
            var today = new Date(),
                day = today.getUTCDate(),
                month = today.getUTCMonth(),
                year = today.getUTCFullYear(),
                daysInCurrMonth = daysInMonth(month, year);

            // Year
            for(var i = 2020; i >= 1900; i--){
                var opt = document.createElement('option');
                opt.value = i;
                opt.text = i;
                yeardropdown.appendChild(opt);
            }

            // Month
            for(var i = 0; i < 12; i++){
                var opt = document.createElement('option');
                opt.value = months[i];
                opt.text = months[i];
                monthdropdown.appendChild(opt);
            }

            // Day
            for(var i = 0; i < daysInCurrMonth; i++){
                var opt = document.createElement('option');
                opt.value = i + 1;
                opt.text = i + 1;
                daydropdown.appendChild(opt);
            }
        }

        var daydropdown = document.getElementById("daydropdown"),
            monthdropdown = document.getElementById("monthdropdown"),
            yeardropdown = document.getElementById("yeardropdown");

        // Change handler for months
        monthdropdown.onchange = function(){
            var newMonth = months.indexOf(monthdropdown.value) + 1,
                newYear = yeardropdown.value;

            daysInCurrMonth = daysInMonth(newMonth, newYear);

            daydropdown.innerHTML = "";
            for(var i = 0; i < daysInCurrMonth; i++){
                var opt = document.createElement('option');
                opt.value = i + 1;
                opt.text = i + 1;
                daydropdown.appendChild(opt);
            }
        }

        populateDates()
    });
</script>


<footer th:replace="fragments/footer"></footer>
</body>
</html>

